:root{
    --color-negro:#4c4c4c;
    --color-gris: #f6f6f6;
    --color-verde: #34a4af;
}
/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-color: var(--color-gris);
}
h1,h2,h3{
    font-family: sans-serif;
    font-weight: 900;
    color: var(--color-negro);
    text-align: center;
    margin: 0;
    padding:0;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 3rem;
}
.text-shadow{
    text-shadow: 0.1em 0.1em #333;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* estilos top*/
.header{
    width: 1200px;
    margin: 0 auto;
}
.logo-head{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin: 0;
    padding: 25px 0 25px 0;
}
.logo-head a{
    text-decoration: none;
    color: var(--color-negro);
}
.logo-head a:hover{
    color: var(--color-verde);
}
.logo-head_nav{
    display: flex;
    gap: 2.2rem;
}
@media (max-width: 768px) {
    .logo-head{
        flex-direction: column;
        gap: 2rem;
    }
}
.nav-main ul{
    display: flex;
    gap: 5rem;
    font-size: 1.8rem;
}
@media (max-width:768px ) {
    .nav-main ul{
        flex-direction: column;
        gap: 1rem;
    }
    .nav-main ul li a{
        justify-content: center;
    }
}
.nav-main ul li{
    list-style: none;
    text-decoration: none;
}
.nav-main ul li a{
    color: var(--color-negro);
    text-decoration: none;
    font-size: 2rem;
}
.nav-main a:hover{
    color: var(--color-verde);
    cursor: pointer;
}
.title{
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;
}
.title a{
    color: var(--color-negro);
    text-decoration: none;
    font-size: 2rem;
}
.title a:hover{
    color: var(--color-verde);
}
/* estilos main*/

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:    "i1 i1 i2 i3"
                            "i1 i1 i4 i5";
    gap:1rem;
}
@media (max-width: 768px) {
    .card-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:    "i1"
                                "i2"
                                "i3"
                                "i4"
                                "i5";
    }
}
.mega-card{
    border: 1px solid red; 
    width: 100%;
    height: 100%;
    background-image: url(../img/img5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
}
.mega-card small{
    color: var(--color-gris);
    padding: 15px;
    margin: 20px;
    font-size: 1.4rem;
}
.mega-card h3,p{
    color: var(--color-gris);
    width: 90%;
}
.mega-card p{
    width: 70%;
    margin-left: 30px;
    font-size: 1.8rem;
}
.card-container{
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
}
.card-container_cards img{
    max-width: 100%;
    max-height: 90%;
}
.card-container_cards_text{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
.card_text_p{
    text-align: center;
    width: 90%;
    margin: 0 20px 0 20px;
    font-size: 2rem!important;
}
.card_text_p:last-child{
    max-width: auto;
}
.img1{
    grid-area: i1;
}
.img2{
    grid-area: i2;
}
.img3{
    grid-area: i3;
}
.img4{
    grid-area: i4;
}
.img5{
    grid-area: i5;
}
.card-container_cards_text sub{
    font-size: 2rem;
    text-align: center;
}
.card-container_cards_text p{
    color: var(--color-negro);
    font-size: 1.2rem;
    text-align: justify;
}
/* slider */
.slider{
    width: 100%;
    height: 600px;
    overflow: hidden;
    border: 1px solid rebeccapurple;
}
.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 80%;
    height: 100%;
    z-index: 1;
}
.slider p{
    border: 1px solid blue;
    font-size: 3rem;
    color: var(--color-verde);
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media only screen and (min-width:320px) and (max-width:768px){
    .slider, .slider ul, .slider img{
        height: 100vh;
    }
    }


/* carousel*/
.carousel{
    padding-top: 2%;
}
.carousel-title-main{
    height: 100px;
}
.carousel_title{
    text-align: left;
    margin-top:3rem;
}
.carousel-container{
    /* margin: auto; */
    
    width: 100%;
    /* padding: 30px; */
    height: 600px;
    overflow: hidden;
}
.carousel-container ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 100%;
    gap: 2rem;
}
.carousel-container li{
    width: 100%;
    list-style: none;
}
.carousel-container img{
    width: 100%;
    height: 100%;
    z-index: -1;
}
.carousel_texto{
    z-index: 2;
    
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media only screen and (min-width:320px) and (max-width:768px){
    .carousel-container, .carousel-container ul, .carousel-container img{
        height: 100vh;
    }
    }

/* footer*/
footer{
    padding: 25px;
}
